body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#container {
    margin-top: 5px;
    min-width: 950px;
    max-width: 950px;
    min-height: 950px;
    max-height: 950px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid black;
    min-width: 93px;
    max-width: 93px;
    min-height: 93px;
    max-height: 93px; 
}

button {
    width: 60px;
    min-height: 50vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}
